/* styles.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.movie-list, .favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie-card {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #0056b3;
}