body {
  background-color: #141414; /* Dark background color */
  color: #fff; /* White text color */
}

.movie-list-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px;
  white-space: nowrap; /* Prevent line breaks */
}

.movie-card {
  background-color: #222; /* Dark card background */
  border-radius: 8px;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.movie-card img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
